.name-sites-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4em;
  width: 100%;
  margin-bottom: 3em;
  color: var(--main-color);
}
.name {
  width: 40%;
  height: 90%;
  border: var(--border);
  border-radius: 4em;
  padding: 0.2em;
  box-shadow: var(--box-shadow-white);
  display: grid;
  place-items: center;
}

.name__form {
  width: 100%;
  height: 100%;
}
.name__input {
  text-align: center;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
}
.name__input::placeholder {
  font-size: 1.2em;
  color: var(--main-color);
}
.name__input:focus {
  color: var(--main-color);
}
.greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#nameEdit {
  background: transparent;
  border: none;
  color: var(--main-color);
  cursor: pointer;
}

.sites {
  width: 40%;
  height: 90%;
  color: var(--main-color);
  border: var(--border);
  border-radius: 2em;
  padding: 0.3em;
  box-shadow: var(--box-shadow-white);
}
.sites__div {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}
.sites a {
  width: 50px;
  height: 100%;
  border-radius: 0.5em;
  background-color: white;
  display: grid;
  place-items: center;
  box-shadow: var(--box-shadow-white);
  text-decoration: none;
  color: black;
  font-size: 2em;
}
.sites a:nth-child(3) {
  color: red;
}
.sites a:last-child {
  color: orange;
}
.sites__div:hover {
  transform: scale(0.9, 0.9);
}

.sites a:hover {
  transform: scale(1.3, 1.3);
}
@media screen and (max-width: 1160px) {
  .sites {
    width: 55%;
  }
}
