.progress-box {
  margin-bottom: 1em;
  width: 90%;
  height: 7vh;
  background-color: rgb(240, 238, 217);
  box-shadow: var(--box-shadow);
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.progress-text {
  margin-bottom: 0.5em;
}
.progress {
  width: 90%;
  background-color: rgb(155, 195, 211);
  border-radius: 2em;
}
.progress-bar {
  width: 0%;
  height: 0.5em;
  background-color: rgb(39, 84, 136);
  border-radius: 2em;
}
