.quotes-weahter-container {
  width: 80%;
  height: 40vh;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
}

.quotes {
  width: 50%;
  height: 100%;
  border-radius: 2em;
  box-shadow: var(--box-shadow);
  padding: 1em;
  display: grid;
  place-items: center;
  font-family: "Fjalla One", sans-serif;
  font-size: 2em;
  color: var(--main-color);
}
.weather {
  width: 40%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: rgb(139, 177, 221);
  border-radius: 1em;
  box-shadow: var(--box-shadow);
}
.weather__title {
  font-size: 2em;
  font-weight: 600;
}
@media screen and (max-width: 800px) {
  .quotes-weahter-container {
    width: 100%;
  }
}
