@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";
@import "background.css";
@import "name-sites.css";
@import "togo.css";
@import "quotes-weather.css";
@import "clock.css";
@import "progress.css";
@import "todo.css";
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

@media screen and (max-width: 800px) {
  body {
    height: 200%;
    display: block;
  }
}
