.todo {
  width: 90%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 0, 0.3);
  box-shadow: var(--box-shadow);
  border-radius: 2em;
}
.todo__remaining-text {
}
.todo__completed-text {
  text-decoration: line-through;
}
.todo__all-text {
}
.todo-header {
  display: flex;
  padding: 0.5em 1em;
  height: 3em;
  width: 100%;
  position: relative;
}

.todo__form {
  width: 100%;
  height: 100%;
  background-color: yellowgreen;
  border-radius: 2em;
  box-shadow: var(--box-shadow);
  padding-left: 1em;
}
.todo__input {
  width: 75%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
}
.todo__input::placeholder {
  color: black;
}
.todo-header__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 20%;
  position: absolute;
  right: 1em;
  top: 0.8em;
}
.todo__btn {
  width: 3em;
  height: 2em;
  background: transparent;
  border: none;
}
